#panel-wrapper{
  display: none;
}
html:not([mode]),
html[mode="light"] {
  --body-bg: #fafafa;
  --mask-bg: #c1c3c5;
  --main-wrapper-bg: white;
  --main-border-color: #f3f3f3;
  --btn-border-color: #e9ecef;
  --text-color: #34343c;
  --heading-color: black;
  --blockquote-border-color: #eee;
  --blockquote-text-color: #9a9a9a;
  --link-color: #2a408e;
  --link-underline-color: #dee2e6;
  --text-muted-color: gray;
  --tb-odd-bg: #fbfcfd;
  --tb-border-color: #eaeaea;
  --button-bg: #fff;
  --btn-backtotop-color: #686868;
  --btn-backtotop-border-color: #f1f1f1;
  --btn-box-shadow: #eaeaea;
  --checkbox-color: #c5c5c5;
  --checkbox-checked-color: #07a8f7;
  --sidebar-bg: #34343c;
  );
}
.dynamic-title{
  display: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
}
p, b{
  font-family: 'Montserrat'; 
  font-size: 0.9rem
}
ul{
  font-family: 'Montserrat'; 
  font-size: 1.025rem;
  color: black;
}
ul.nav{
  font-family: 'source sans pro';
}
.image{
  position: relative;
  max-width: 70%;
  top: 5%;
}
.fa-file, .fa-code, .fa-file-powerpoint{
  color: #07a8f7;
}
div#topbar span{
    visibility: hidden;
}
title{
  display: none;
}
h1{
    font: 2.2rem sans-serif;
}

i.fas.fa-rss{
  display: none;
}
.btn-white{
  color: white;
}
.btn-black{
  color: black;
}
i.fab{
  padding: 5px;
}
i.fas{
   padding: 5px;
}
div.sidebar-color{
background-colour: #34343C;
}
#sidebar .sidebar-bottom {
  position: relative;
  min-height: 45vh;
  font-size: 1.2rem;
  margin-bottom: 2.3rem;
  padding-left: .7rem;
  padding-right: .3rem;
}
.hov{
  padding-left: 10px;
  font-size: larger;

}
.nice{
  color: black; 
  font-weight: bold; 
  padding-left: 3px;
}
.nice:hover{
  color: blue;
  text-decoration: none;
}
i:hover{
  cursor: pointer;
  color: blue;
  transition: transform .5s;
  transform: scale(1);
}
::-webkit-scrollbar {
  width: 10px;
}
@media screen and (max-width: 600px) {
  .image{
    position: inherit;
    display: block;
    }
  .image1 .image2{
      position: inherit;
      display: block;
      padding-left: 50px;
  }
  i#search-trigger{
    visibility: hidden;
  }
}
